click
Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
Pillow
python-dateutil
pytz
six
-f https://download.pytorch.org/whl/torch_stable.html
torch+cpu
-f https://download.pytorch.org/whl/torch_stable.html
torchvision+cpu
typing-extensions
Werkzeug